@{
    ViewBag.Title = "About Us";
}

<main aria-labelledby="title">
    <h2 id="title">About Digital Retailers</h2>
    <p>Welcome to Digital Retailers, your trusted online source for laptops and accessories. We are dedicated to providing top-quality products and exceptional customer service.</p>
    <p>Our mission is to make your laptop shopping experience easy and enjoyable. With a wide range of products and competitive prices, we aim to meet all your computing needs.</p>
    <p>Thank you for choosing Laptop Store. We look forward to serving you!</p>
</main>
