@{
    ViewBag.Title = "Contact Us";
}

<main aria-labelledby="title">
    <h2 id="title">Contact Us</h2>
    <p>If you have any questions or need assistance, please don't hesitate to contact our support and marketing teams:</p>

    <address>
        <strong>Support:</strong><br />
        Email: <a href="mailto:support@digitalretailers.com">support@digitalretailers.com</a><br />
        Phone: (+91) 999-99-99999
    </address>

    <address>
        <strong>Marketing:</strong><br />
        Email: <a href="mailto:marketing@digitalretailers.com">marketing@digitalretailers.com</a>
    </address>
</main>
